# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv config
.env

# Docker artifacts (optional)
*.log
*.pid

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/

# Lowdb database file (optional)
db.json
